@media screen and (max-width: 1050px){
    h1{
      font-size: 2em !important;
    }
  
    body{
      width: 100vw !important;
    }
  
  
    #main h2{
      margin: 20px 20px !important;
      font-size: 1.5em !important;
      width: 50vw !important;
    }
    .landing_Image_black{
      display: none;
    }
  
    h3{
      font-size: 1.2em !important;
    }
    .landing_Image_white{
      animation: none !important;
      width: 20vw !important;
      height: 25% !important;
    }
  
    .inside_homepod article{
      width: 100% !important;
    }
  
    .inside_homepod{
      height: 800vh !important;
    }
  
    .color_product{
      display: none;
    }
    span{
      display: none;
    }
    section#main p{
        font-size: 0.8em;
        width: 50vw;
        margin: 50px auto !important;
        text-align: center !important;
    }
    .apple_music article p{
        margin: 0 auto !important;
    }
  
    .landing_Page h3{
      animation: opacityText 0.3s 0 !important;
    }
    section#main p 
  
    section#main h1{
        font-size: 64px;
    }
    .card{
      padding-bottom: 0 !important;
    }
    .card a{
      font-size:0.5em !important;
    }
  
    .siri_title{
      font-size: 1.5em !important;
      width: 50vw !important;
    }
    .siri_text p{
          animation : none !important;
          font-size: 0.8em;
    }
  
    .siri_text{
      margin: 38px !important;
    }
  
    .siri_daily p{
      font-size: 0.8em !important;
      width: 50vw;
    }
    .card_siri p{
      font-size:  1.5em !important;
    }
  
    .intro_description p{
      text-align: left !important;
    }
    .fade-ani{
      opacity: 1 !important;
    }
  
    .fade-up{
      padding-bottom: 0 !important;
    }
    .footerSection{
      margin: 5px;
    }
  
    #header a{
      font-size: 0.5em !important;
    }
    nav{
      display: block !important;
    }
    #header ul{
      display : none !important;
    }
  
    .landing_Page h1{
      margin-top: 10vw;
    }
    .landing_Page h3{
      opacity: 1 !important;
    }
  
    .menu{
      display: block;
    }
  }
  