body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color:#111;
}

.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.container{
  width: 70vw;
  margin: 0 auto;
}

.container{
  width: 70vw;
  margin: 0 auto;
  
}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px; 
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}
/* Landing Page */
.caracteristic_landing_Page img{
  width: 70vw;
  height: auto;
  margin-top: 100px;
}

#main article img{
  width: 15vw;
  height: auto;
}

.finition {
  text-align: center;
}
#main h2{
  padding: 2vw 0 ;
  border-bottom: #f1f1f1 1px solid ;
}
li{
  list-style: none;
  font-size : 1.2em; 
}

.table_device{
  display: flex;
}

ul.iphone{
  padding: 0;
  margin: 0 5vw;
}
/* h3{
  margin-top: 50px;
  text-align: center;
}
 .landing_Page{
   display: flex;
   justify-content: space-between;
   margin : 0 auto;
   margin-top: 50px;
 }
 .landing_Page img{
   width: 40%;
   height: 40%;
 }
 .Coloris{
  text-align: center;
  display: flex;
  justify-content: space-around;
 }
 .Blanc{
   margin-left: 100px;
 }
 .Gris{
   margin-right: 100px;
 }
Desciption rapide du Home Pod
.homePodDescription_Left{
  display: flex;
  justify-content: space-between;
}
.homePodDescription_Left p{
  height: 250px;
  width: 400px;
  margin : auto 0;
  font-size: 18px;
}
.homePodDescription_Left h2{
  position: relative;
  left: 349px;
  bottom: 116px;
}
.homePodDescription_Right{
  display: flex;
  justify-content: space-between;
}
.container_flex{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items:center;
}
 Dimensions et taille 
.HomePod_Dimensions_Text{
  margin-left: 328px;
  height: 100px;
  width: 500px;
  margin-top: 150px;
}
.HomePod_Dimensions_Images{
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  position: relative;
  bottom: 130px;
  left: 175px;
}
.Top{
  margin-left: 70px;
  width: 260px;
}
.HomePod_TechAudio{
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}
.HomePod_TechAudio p{
  width : 400px;
  height : 400px;
  margin-top : 100px;
}
.HomePod_TechAudio img{
  margin-left: 70px;
}
.HomePod_TechAudio h2{
  text-align: center;
}
hr{
  width: 40%;
  height: 2px;
  background-color: #000000;
  border: none;
  margin-bottom: 50px;
}
Autres spécificités
.Other{

}
.blockFlex{
  display: flex;
  flex-wrap: wrap;
  flex-direction : column;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-left: 100px;
}
.blockFlex1 h3,p{
  position: relative;
  left: 70px;
  margin-left: 50px;
}
.blockFlex2 h3,p{
  text-align: center;
}
.blockFlex2 p{
  left: 10px;
}
.blockFlex3 h3,p{
  position: relative;
  left: 70px;
  margin-left: 70px;
}
.electricPlug{
  width: 24px;
  height: 24px;
} */

