body{
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text","SF Pro Display","Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color:#111;
  background: #f1f1f1;


}
a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.container{
  width: 70vw;
  margin: 0 auto;
}

#header .container{
  width: 70vw;
  margin: 0 auto;

}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px;
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}

/* LANDING PAGE */
section#main .landing_Page{
  text-align: center;
  position: relative;

}
span{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}




section#main .landing_Page .landing_Image{
  display: flex;
  justify-content: center;

}
section#main .landing_Page h1{
  font-size: 4em;
  text-align: center;
}



section#main .landing_Page img{
  width: 60%;
  height: auto;
  z-index: 1000;
}

section#main .landing_Page .landing_Image_white{
  animation: scroll 1.5s ease-in;
  animation-fill-mode: forwards;
}

section#main .landing_Page .landing_Image_black{
  animation: scroll_black 1.5s ease-in;
  animation-fill-mode: forwards;
}

section#main .landing_Page h3{
  font-weight: 500;
  font-size: 1.5em;
  color: #e1e1e1;
  opacity: 0;
  animation: opacityText 1s 1.5s;
  animation-fill-mode: forwards;
  position: sticky;
}

.color_product{
  display: flex;
  justify-content: space-between;
  opacity: 0.6;

}

.color_product h5.color_product_white{
  font-weight: 500;
  margin: 20px 160px;
}

.color_product h5.color_product_spacegray{
  font-weight: 500;
  margin: 20px 175px;
}

/* ANIMATION IMAGES LANDING PAGE */

 @keyframes opacityText{
  0%{
    opacity : 0;
  }
  50%{
    opacity : 0;
  }

  100%{
    opacity: 1;
  }
 }
 @keyframes scroll{
  0%{
    opacity: 0;
    width: 60%;
    height: 60%;

  }
  50%{
    transform: translateX(0);

  }
  100%{
    opacity: 1;
    width: 25%;
    height: 25%;
    transform: translateX(-200px);
  }
}

@keyframes scroll_black{
  0%{
    opacity: 0;
    width: 60%;
    height: 60%;
  }
  50%{
    transform: translateX(0);

  }
  100%{
    opacity: 1;
    width: 25%;
    height: 25%;
    transform: translateX(200px);
  }
}

.menu{
  display: none;
}
.menu ul{
  /* display: flex;
  justify-content: space-between; */
  width: 25vw;
  margin: 0 auto ;
  padding: 0;
}

.menu ul li{
  list-style: none;
}

.menu ul li a{
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #0070C9;
  font-size: 0.8em;
}

/* DESCRIPTION DU HOMEPOD */

section.descriptif{
  margin-top: 50px;
}
section.descriptif .introduction{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
 color: #111111;
 opacity: 0.6;
 margin-bottom:50px;
}

section.descriptif img{
  width: 100%;
  height: auto;
}

section.descriptif .caracteristics{
  margin: 200px 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.descriptif .caracteristics h2{
  font-size: 3em;
}

section.descriptif .caracteristics img{
  width: 50%;
  height: auto;
  opacity: 0.6;
}

section.descriptif .inside_homepod{
  background: url(../images/inside.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center ;
  height: 600vh;

}

section.descriptif .inside_homepod article{
  width: 28%;
  text-align: center;
  background: #111111e1;
  border-radius: 5px;
  padding: 30px 20px;
  margin: 30px;
  color: #f1f1f1;
  transform: translateY(50%);
  margin: 100vh auto;
}


section.descriptif .inside_homepod article p{
  font-size: 0.7em;
}

.home_homepod{
  margin: 50px auto;
}

.home_homepod article{
  text-align: center;
  width: 60%;
  margin: 100px auto;
}
.home_homepod article h2{
  font-size: 3em;
}
.home_homepod article p{
  font-weight: 600;
  color: #111111;
}

/* APPLE MUSIC */
.apple_music article{
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.apple_music article h2{
  font-size: 3em;
}
.apple_music article p{
  font-weight: 600;
  color: #111111;
}


/* CARD */
.cards{
  display: flex;
}
.card{
width: 100vw;
height: calc(100vh - 75px);
background: url(../images/wallpaper_.jpeg);
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
text-align: center;
padding-bottom: 50px;
}

.card div{
  /* background: url(../images/album.jpg);
  background-attachment: fixed; */
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.card img.homepod_phone{
  width: 20vw;
  height: auto;
  display: block;
  margin:  10% auto;
  top : 30%;
}

.card img.itunes{
  width: 3vw;
  height: auto;
 display: block;
 margin: 0 auto;
 padding: 10px;
}

.card h3{
  width: 35vw;
  margin: 10px auto;
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.card a{
  margin: 20px;
  text-decoration: none;
  color: #42A1EC;
  font-size: 0.8em;
}

/* SIRI */


.siri_article{
  width: 80vw;
  margin: 0px auto;
  text-align: center;

}
section.siri_music .homepod_siri{
  width: 20vw;
  height: auto;
  position: absolute;
  top: 50% ;
  left: 50%;
  transform: translate(-50%,-50%)
}

.siri_title{
  font-size: 2.5em;
  width: 35vw;
  margin: 20px auto;
  text-align: center;
}


.siri_text{
  overflow: hidden;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url("../images/wallpaper_.jpeg");
}

.siri_text p{
  font-size: 1.5em;
  font-weight: 700;
  margin: 5px;
}

.siri_text p:nth-child(even){
  animation: sizeText 5s ease-in infinite;
}

.background{
  position: relative;
  width: 98.9vw;
  height: 100vh;
  background: linear-gradient(to top, #313131,#f1f1f1 )
}


@keyframes sizeText{
  0%{
    font-size: 1.5em;
  }
  50%{
    font-size: 2em;
  }
  100%{
    font-size: 1.5em;
  }
}

.siri_daily p{
  width: 30vw;
  margin: 50px auto;
  font-weight: 600;
  color: #111111;
}

.card_siri{

  background: url(../images/home_large.jpg);
  background-size:  cover 100vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card_siri p{
  font-size: 2em;
  color: transparent;
  margin: 2px auto;
  width: 50vw;
  height: auto;
  background: linear-gradient(#eec4ff,#b5f1fa);
  padding: 50px 50px;
  border-radius: 10px;
  text-align: center;
  -webkit-background-clip: text;
}

/* FOOTER */

footer {
  margin-top: 50px;
  background-color: #F2F2F2;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display';
  font-size: 11px;
}
.footerSection {
  margin: 10px;
  display: flex;
}
.footerActualPage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #555555;

}
.footerRamifications {
  display: flex;
  justify-content: space-between;
}

.footerLogoImage{
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footercallLine {
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #888888;
}
.footer_french_flag {
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footerFr {
  display: flex;
  align-items: center;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #888888;
}
.footerlinks {
  padding : 0px 8px 0px 8px;
}
.footerBorder {
  border-right: 1px solid #D6D6D6;
}
.footerinformBuy , .footerAppleStore , .footerAccount , .footerAboutApple{
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;

}
.footerSection a{
  font-weight:300;
  text-decoration: none;
  color: #333333;

}
.footerSection a:hover {
  text-decoration: underline;
}
.footerRamifications a {
  padding-bottom: 10px;
}
.footerlastInfos{
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.fade-ani{opacity:0;
  position:relative;
  transition:all ease-out .5s 0s;}
.fade-up{bottom:-50px;}
.fade-up.showing{bottom:0px;opacity:1;}


/* RESPONSIVE */
