body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  color:#111;
}

.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.container{
  width: 70vw;
  margin: 0 auto;
}

.container{
  width: 70vw;
  margin: 0 auto;

}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px;
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}
/* Landing Page */
.caracteristic_landing_Page img{
  width: 70vw;
  height: auto;
  margin-top: 100px;
}

#main article img{
  width: 15vw;
  height: auto;
}

.finition {
  text-align: center;
}
#main h2{
  padding: 2vw 0 ;
  border-bottom: #f1f1f1 1px solid ;
}
li{
  list-style: none;
  font-size : 1.2em;
}

.table_device{
  display: flex;
}

ul.iphone{
  padding: 0;
  margin: 0 5vw;
}

/* FOOTER */


  
  footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'SF Pro Display';
    font-size: 11px;
  }
  .footerSection {
    margin: 10px;
    display: flex;
  }
  .footerActualPage {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
    font-weight: normal;
    color: #555555;
  
  }
  .footerRamifications {
    display: flex;
    justify-content: space-between;
  }
  
  .footerLogoImage{
    width: 15px;
    height: auto;
    padding-right: 5px;
  }
  .footercallLine {
    border-bottom: 1px solid #D6D6D6;
    font-weight: normal;
    color: #888888;
  }
  .footer_french_flag {
    width: 15px;
    height: auto;
    padding-right: 5px;
  }
  .footerFr {
    display: flex;
    align-items: center;
  }
  .footer_copyright{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    color: #888888;
  }
  .footerlinks {
    padding : 0px 8px 0px 8px;
  }
  .footerBorder {
    border-right: 1px solid #D6D6D6;
  }
  .footerinformBuy , .footerAppleStore , .footerAccount , .footerAboutApple{
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  
  }
  .footerSection a{
    font-weight:300;
    text-decoration: none;
    color: #333333;
  
  }
  .footerSection a:hover {
    text-decoration: underline;
  }
  .footerRamifications a {
    padding-bottom: 10px;
  }
  .footerlastInfos{
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
  }
  
@media screen and (max-width: 1050px){
  #header a{
  font-size: 0.5em !important;
}
nav{
  display: block !important;
}
#header ul{
  display : none !important;
}
li{
  font-size: 0.8em;
}
}