
body{
  margin: 0 auto;
  padding: 0;
  font-family: 'SF Pro Display';
  font-size: 16px;
  color: #444;
  height: 2000px;
  background-color: white;
  padding-top: 150px;
  position: relative;
}
.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container{
  width: 1050px;
  margin: 0 auto;
}

#header .container{
  width: 976px;
  margin: 0 auto;

}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px;
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}



footer {
  background-color: #F2F2F2;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display';
  position: absolute;
  left:0px;
  bottom: 0px;
  font-size: 11px;
}
.footerSection {
  margin: 0px 160px 0px 160px;
  display: flex;
}
.footerActualPage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #555555;

}
.footerRamifications {
  display: flex;
  justify-content: space-between;
}

.footerLogoImage{
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footercallLine {
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #888888;
}
.footer_french_flag {
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footerFr {
  display: flex;
  align-items: center;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #888888;
}
.footerlinks {
  padding : 0px 8px 0px 8px;
}
.footerBorder {
  border-right: 1px solid #D6D6D6;
}
.footerinformBuy , .footerAppleStore , .footerAccount , .footerAboutApple{
  font-weight: bold;
  display: flex;
  flex-direction: column;

}
.footerSection a{
  font-weight:300;
  text-decoration: none;
  color: #333333;

}
.footerSection a:hover {
  text-decoration: underline;
}
.footerRamifications a {
  padding-bottom: 10px;
}
.footerlastInfos{
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

/* bloc */
.blocsContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 36px;

  }
  .bodyBlocs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;

  }
  .white_bloc {
    margin: 0 auto;
    background-color: white;
    width: 1000px;
    height: 600px;
    color: #313131;

  }
  .black_bloc {
    margin: 0 auto;
    background-color: #333333;
    width: 1000px;
    height: 600px;
    color: white;
  }

.bodyBlocsSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.8rem;
  flex-direction: column;
}
.blocImages{
  width: 150px;
  height:auto;
  opacity: 0;

}
.blocImages:hover {
  opacity: 1;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 1s;
}
