
body{
  margin: 0 auto;
  padding: 0;
  font-family:'SF Pro Display','Arial';
  font-size: 16px;
  color: #444;
  height: 2000px;
  background-color: white;
  padding-top: 150px;
}
.logo_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

header#header{
  background: #313131;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container{
  width: 1050px;
  margin: 0 auto;
}

#header .container{
  width: 976px;
  margin: 0 auto;

}

#header .header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_navbar h2{
  font-size: 12px;
  color: #f1f1f1;
  padding-left: 10px;
}

#header .header_navbar h2:hover{
  opacity: 0.6;
  transition: 0.5s;
}
#header .header_navbar img.logo{
  width: 30px;
  height: 30px;
}

img.logo:hover{
  opacity: 0.6;
  transition: 0.5s;
}

#header .header_navbar img.shopping_bag{
  width: 50px;
  height: 50px;
}

img.shopping_bag:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.header_navbar li{
  list-style: none;
  padding-right: 15px;
}

.header_navbar a:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.header_navbar li a{
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  font-size: 12px;
}

.buy{
  background: linear-gradient(#0070C9,#42A1EC);
  padding: 5px 10px;
  border-radius: 5px;
}

.header_navbar li a.buy:hover{
  background: linear-gradient(#42A1EC,#0070C9);
  opacity: 1;
}

.mainSection {
  display: flex;
  justify-content: center;
}
.secondarySections {
  display: flex;
  justify-content: flex-start;
  padding: 200px;
  justify-content: space-around;

}
.sectionCaracteristic {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 500px;
  border-radius: 3%;
  flex-direction:column;
  position: relative;
  display:inline-block;
  align-items: flex-start;
}

h1{

}
h2 {
  text-align: center;
}

.homepodnoir {
  width: 30%;
  height: auto;
  position: absolute;
  bottom: 80px;
  right: 120px;


}
#section1 {
  background-color: #42A1EC;
  color: white;
}
.sectionCaracteristic p {
  padding: 0px 25px 0px 25px;
}

#section2 {
  background-color: white;
  box-shadow: 5px 5px 5px #313131;
}

#section3 {
  background-color: #0070C9;
  color: white;
}
.more p {
  background-color: white;
  border-radius: 5px;
  width: 120px;
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 auto;
  position: absolute;
  right:10px;
  top: 200px;
  color: #313131;
  box-shadow: 5px 5px 5px #313131;
}
#covers {
  width: 105%;
  height: auto;
  position:absolute;
  right:0px;
}
.leftColumn {
  display: grid;
  grid-gap: 50px;
}
.rightColumn {
  padding-top: 200px;
  display: grid;
  grid-gap: 50px;
}

footer {
  background-color: #F2F2F2;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display';
  position: absolute;
  left:0px;
  bottom: 0px;
  font-size: 11px;
}
.footerSection {
  margin: 0px 160px 0px 160px;
  display: flex;
}
.footerActualPage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #555555;

}
.footerRamifications {
  display: flex;
  justify-content: space-between;
}

.footerLogoImage{
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footercallLine {
  border-bottom: 1px solid #D6D6D6;
  font-weight: normal;
  color: #888888;
}
.footer_french_flag {
  width: 15px;
  height: auto;
  padding-right: 5px;
}
.footerFr {
  display: flex;
  align-items: center;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #888888;
}
.footerlinks {
  padding : 0px 8px 0px 8px;
}
.footerBorder {
  border-right: 1px solid #D6D6D6;
}
.footerinformBuy , .footerAppleStore , .footerAccount , .footerAboutApple{
  font-weight: bold;
  display: flex;
  flex-direction: column;

}
.footerSection a{
  font-weight:300;
  text-decoration: none;
  color: #333333;

}
.footerSection a:hover {
  text-decoration: underline;
}
.footerRamifications a {
  padding-bottom: 10px;
}
.footerlastInfos{
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
